.main {
  display: grid;
  justify-items: center;
  row-gap: 36px;
}

.header {
  margin: 36px 20px 64px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 36px;
  margin-bottom: 24px;
}

.paragraph {
  font-size: 16px;
  margin-bottom: 24px;
}

.logo {
  width: 40px;
  height: 40px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.mockup {
  display: block;
  max-width: calc(min(400px, 90%));
  height: auto;
}

@media only screen and (min-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
    column-gap: 48px;
    align-items: center;
  }

  .header {
    margin: 48px 36px 80px;
  }

  .title {
    font-size: 48px;
  }

  .paragraph {
    margin-bottom: 48px;
  }

  .buttons {
    gap: 24px;
  }

  .mockup {
    position: relative;
  }
}
