.back__button
{
    margin: 36px;
    background-color: #E0E0E0;
    color: black;
    border-radius: 2em;
}

.back__button:hover
{
    background-color: #D0D0D0;
}

.main__container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.start__button
{
    min-width: 15rem;
    margin-top: 36px;
    height: 4rem
}
