.header {
    width: 90vw;
    margin: 36px auto;
    display: flex;
    justify-content: space-between;
}

.button__container {
    display: flex;
    gap: 16px;
}

.button
{
    min-width: 15rem;
    height: 4rem
}

.question__table
{
    width: 90vw;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .button__container {
      flex-direction: column;
      justify-content: center;
    }
  }